/**
 * @name Ai Hoshino Theme
 * @author Milky<3
 * @version 1.0.0
 * @description =-- Ai Hoshino Theme --=
*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@100;300;400;500;700&display=swap');
@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://nyri4.github.io/Discolored/main.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://i.imgur.com/UKBwT0u.jpg');
  --background-image-blur: 0px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-image: url('https://i.imgur.com/DZZnpxZ.gif');
  --popout-image-blur: 0px;
  --popout-image-size: cover;
  --gradient-direction: 75deg;
  --tint-colour: 255,51,159;
  --tint-brightness: 0;
  --font: Comfortaa;
  --window-padding: 0px;
  --window-roundness: 0px;
  --update-notice-1: none;
  --home-button-position: center;
  --serverlist-brightness: 0.6;
  --left-brightness: 0.6;
  --middle-brightness: 0.6;
  --right-brightness: 0;
  --overlay-brightness: 0.6;
  --popout-image-position: center right;
  --overlay-image: url('https://i.imgur.com/WCrWBqs.jpg');
  --overlay-image-blur: 0px;
  --overlay-image-size: 100%;
  --overlay-image-position: center;
  --home-button-image: url('https://i.imgur.com/DZZnpxZ.gif');
  --home-button-size: cover;
  --scrollbar-colour: rgb(229, 255, 0);
  --gradient-primary: 0,96,255;
  --gradient-secondary: 0,255,157;
  --link-colour: rgb(204, 0, 255);
}
